

h1 {
  color:blue;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
  font-family: "Impact";
  font-size: 250%;
 text-align: center;



}

h2{
  color:yellow;
  font-size: 50%;
  font-family: "Times new Roman",serif;
  text-decoration: underline;
  font-size: 150%;

}
h3{
  color:orange;
  font-size: 20px;
  font-family: "Times new Roman",serif;
  text-decoration: underline;


}


#order {
  text-align: left;
}

p {
  color: black;
  font-family: "Times New Roman",sans-serif;
  font-size: 24px;


}



#background {
    background-color: tan;
}

#content {

  background-color: gray;
  width: 1000px;
  height: 2000px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  border: solid 5px black;


}
