

h1 {
  color:blue;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
  font-family: fantasy;
  font-size: 400%;



}

h2 {
  color:yellow;
  font-size: 50%;
  font-family: "Times new Roman",serif;
  text-decoration: underline;
  font-size: 200%;

}

.center {
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1000px;
}

p {
  color: black;
  font-family: "Times New Roman",sans-serif;
  font-size: 40px;


}

p#intro {
  font-family: "Bree Serif",sans-serif;
  font-size: 20px;
}

p#ending {
  color: pink;
}

img#promote {
 width: 300px;
}



#content {

  background-color: gray;
  width: 1540px;
  height: 1500px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  border: solid 5px black;


}
