

h1 {
  color:blue;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
  font-family: "Impact";
  font-size: 400%;
 text-align: center;



}

h2 {

  color:black;
position: relative;
  font-family: "Impact", fantasy;
  font-size: 40px;
  align-items: center;
}


.center {
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  /*width: 70px;
  height: 30px;*/
  border: 1px solid black;
  /*display: block;*/
  border-radius: 9px;
}

p {
  color: black;
  font-family: "Impact",fantasy;
  font-size: 40px;


}

p#intro {
  font-family: "Bree Serif",sans-serif;
  font-size: 20px;
}

p#ending {
  color: #fa37e3;
}

img#promote {
  position: relative;
  float: left;
 width: 300px;
}



img#portrait {
  border: 5px solid black;
  right: -4%;
  position: relative;
}

#lab {
  width: 200px;
  height: auto;
  background-color: #cdcdcd;

  border: solid 2px black;
}

#content {
  width: 1420px;
  background-color: #cdcdcd;
  height: 1450px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  border: solid 2px black;
}

#background {
  /*background-image: url(https://static.wikia.nocookie.net/dragonball/images/5/50/Wiki-background/revision/latest);*/
  background-size: cover;
  background-color: tan;
  background-repeat: no-repeat;
  background-size: cover;
}
