

h1 {
  color:blue;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
  font-family: fantasy;
  font-size: 200%;



}

h2 {
  color:yellow;
  font-size: 300%;
  font-family: "Times new Roman",serif;
  text-decoration: underline;
 /* TEMP:  */

}

.center {
  text-align: center;
}

p {
  color: black;
  font-family: "Times New Roman",sans-serif;
  font-size: "15px";
  text-indent: "36px";
  margin-left: "1px";

}

p#ending {
  color: pink;
}

img#promote {
 width: 900px;
}


#content {

  background-color: gray;
  width: 1000px;
  height: 1000px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  border: solid 5px black;
  font-size: 60px;


}
