

h1 {
  color:blue;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
  font-family: "Impact";
  font-size: 250%;
 text-align: center;



}

h2{
  color:black;
  font-size: 50%;
  font-family: "Times new Roman",fantasy;
  text-decoration: underline;
  font-size: 150%;

}
script {
  color:black;
  font-size: 50%;
  font-family: "Times new Roman",serif;
  font-size: 24px;
}


.center {
  text-align: center;
}

.output {
  color:black;
  font-size: 50%;
  font-family: "Times new Roman",serif;
  font-size: 24px;
}

p {
  color: black;
  font-family: "Times New Roman",sans-serif;
  font-size: 24px;


}



#content {
  width: 1420px;
  background-color: #f1f3ff;
  height: 1450px;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  border: solid 2px black;
    border-radius: 9px;
  /*opacity: 80%; */
}

#background {
  /*background-image: url(https://static.wikia.nocookie.net/dragonball/images/5/50/Wiki-background/revision/latest);*/
  background-size: cover;
  background-color: #7090ff;
  background-repeat: no-repeat;
  background-size: cover;
}
